@import url('https://fonts.googleapis.com/css?family=Raleway');

.container {
	font-family: 'Raleway', sans-serif;
	color: #3382B1;
}

.ion {
	font-size: 200px;
	margin: auto;
	display: block;
	text-align: center;
}

h5 {
	font-size: 16px;
}

